@use 'header.scss';
@use 'footer.scss';

//*** Général*** //
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

:root {
    --main-bg-color: #F6F6F6;
    --primary-color: #9356DC;
    --bg-color-green: #99e2d0;
    --bg-color-blue: #89c8fa;
    --bg-color-dark-grey: #353535;
    --bg-color-grey-2 : #Eaeaea; 
    --bg-color--dark-blue: #003a68;
    --green-font: #008766;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    padding-inline-start: 0em;
    margin-block-start: 0;
}

li {
    list-style: none;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
}

//*** Header *** //
.header {
    background-color: #9356DC;
    &__icon {
        position: absolute;
        left : 25px;
        top: 13px;
        font-size: 30px;
        z-index: 3;     
        } 
}

//*** Section Restaurant ***// 

.restaurant {
    width: 100%;
    position: relative;

    width: 100%;
    background-color: var(--main-bg-color);
    padding: 0 10px;
    box-sizing: border-box;
    &__img {
        position: relative;
        width: 100%;
        height: 275px;
    }
    &__title {
        position: relative;
        top: -20px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        background-color: var(--main-bg-color);
        font-family: 'Shrikhand', sans-serif;
        font-size: 28px;
        font-weight: 400;
        padding-top: 32px;
        padding-left: 17px;
        padding-bottom: 40px;
    }
    &__heart {
        position: absolute;
        right: 30px;
        top : 370px;
        font-size: 28px;
    }
    .starters {
        &__title {
            width: 38px;
            height: 27px;
            font-size: 16px;
            font-weight: 300;
            margin-left: 17px;
            border-bottom: var(--bg-color-green) 2px solid;
            border-bottom-width: 3px;
        }
    }
    .dishes {
        .dishes__title {
            width: 38px;
            height: 27px;
            font-size: 16px;
            font-weight: 300;
            margin-top: 40px;
            margin-left: 17px;
            border-bottom: var(--bg-color-green) 2px solid;
            border-bottom-width: 3px;
        }
    }
    .desserts {
        padding-bottom: 40px ;
        .desserts__title {
            width: 38px;
            height: 27px;
            font-size: 16px;
            font-weight: 300;
            margin-top: 40px;
            margin-left: 17px;
            border-bottom: var(--bg-color-green) 2px solid;
            border-bottom-width: 3px;
        }
    }
}
.card {
    position: relative;
    margin-top: 12px;
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
    &__dish-name {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 5px;
    }
    &__description {
        font-size: 15px;
        font-weight: 300;
    }
    &__price {
        position: absolute;
        font-size: 15px;
        font-weight: 700;
        right: 30px;
        bottom: 18px;
    }
}

.container__order-button {
    display: flex;
    justify-content: center;
    .order-button {
        border-radius: 25px;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
        background: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);
        width: 50%;
        border: none;
        color: white;
        font-size: 16px;
        font-weight: 500;
        height: 50px;
        margin-top: 40px;
    }
}
