* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

:root {
  --main-bg-color: #F6F6F6;
  --primary-color: #9356DC;
  --bg-color-green: #99e2d0;
  --bg-color-blue: #89c8fa;
  --bg-color-dark-grey: #353535;
  --bg-color-grey-2: #Eaeaea;
  --bg-color--dark-blue: #003a68;
  --green-font: #008766;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  -webkit-padding-start: 0em;
          padding-inline-start: 0em;
  -webkit-margin-before: 0;
          margin-block-start: 0;
}

li {
  list-style: none;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header .container__logo {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 14px 89px 13px 89px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.header .container__logo .logo__header {
  display: flex;
  padding: 0 19px 0 16px;
  width: 162px;
  height: 44px;
}
.header .container__location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color-grey-2);
  height: 50px;
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  gap: 17px;
}
.header .container__location .icon__location {
  font-size: 16px;
}
.header .container__location .city__location {
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}

.section__exploration__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-bg-color);
}
.section__exploration__button .main__title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin: 39px 42px 0px 58px;
}
.section__exploration__button .main__subtitle {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  color: var(--bg-color-dark-grey);
  margin: 0px 34px 27px 26px;
}
.section__exploration__button .exploration__button {
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);
  margin: 0px 82px 52px 75px;
  width: 50%;
  height: 50px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
}

.section__functioning {
  display: flex;
  flex-direction: column;
}
.section__functioning .h2__functioning {
  font-size: 24px;
  font-weight: 700;
  margin-top: 48px;
  margin-left: 20px;
  margin-bottom: 26px;
}
.section__functioning .container__functioning__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  margin-bottom: 68px;
}

.functioning__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 27px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  background-color: var(--main-bg-color);
  height: 73px;
  width: 80%;
  border: none;
  font-size: 16px;
  font-weight: 500;
}

.icon__functioning__button--grey {
  color: #7e7e7e;
}

.icon__functioning__button--purple {
  color: var(--primary-color);
}

.badge__1 {
  position: absolute;
  bottom: 353px;
  left: 28px;
}

.txt__badge__1 {
  position: absolute;
  right: 370px;
  bottom: 356px;
  color: white;
}

.badge__2 {
  position: absolute;
  bottom: 254px;
  left: 28px;
}

.txt__badge__2 {
  position: absolute;
  right: 370px;
  bottom: 258px;
  color: white;
}

.badge__3 {
  position: absolute;
  bottom: 156px;
  left: 28px;
}

.txt__badge__3 {
  position: absolute;
  right: 370px;
  bottom: 159px;
  color: white;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 22px 25px;
  background-color: var(--bg-color-dark-grey);
  gap: 16px;
}
.footer .logo__footer {
  height: 27px;
  width: 25%;
  filter: invert(1);
}
.footer .list__footer {
  gap: 7px;
  display: flex;
  flex-direction: column;
}
.footer .list__footer .list__footer {
  gap: 11px;
  display: flex;
  flex-direction: row;
}
.footer .list__footer .list__footer .icon__footer {
  filter: invert(1);
}
.footer .list__footer .list__footer .link__footer {
  color: white;
}/*# sourceMappingURL=style.css.map */