//*** Général*** //
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

:root {
    --main-bg-color: #F6F6F6;
    --primary-color: #9356DC;
    --bg-color-green: #99e2d0;
    --bg-color-blue: #89c8fa;
    --bg-color-dark-grey: #353535;
    --bg-color-grey-2 : #Eaeaea; 
    --bg-color--dark-blue: #003a68;
    --green-font: #008766;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    padding-inline-start: 0em;
    margin-block-start: 0;
}

li {
    list-style: none;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
}

//*** Header *** //

.header {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    .logo {
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        padding: 14px 89px 13px 89px ;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15)  ;
        &__img {
            display: flex;
            padding: 0 19px 0 16px;
            width: 162px;
            height: 44px;
        }
    }
    .location {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: var(--bg-color-grey-2);
        height: 50px;
        box-sizing: border-box;
        margin: 0;
        width: 100%;
        gap: 17px;
        &__logo {
            font-size: 16px;
        }
        &__city {
            font-size: 16px;
            font-weight: 500;
            line-height: normal;
        }
    }
}

//*** Main Title and Exploration Section *** //

.section-exploration {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-bg-color);
    &__title {
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        margin-top: 39px;
        width: 75%;
        padding: 2px 15px 15px 15px;
    }    
    &__subtitle {
        font-size: 18px;
        font-weight: 300;
        text-align: center;
        color: var(--bg-color-dark-grey);
        margin-bottom: 27px;
        width: 85%;
        padding: 2px 5px 0px 5px;
    }        
    &__button {
            border-radius: 25px;
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
            background: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);
            margin-bottom: 57px;
            width: 50%;
            height: 50px;
            border: none;
            color: white;
            font-size: 16px;
            font-weight: 500;
    }   
}

//*** Functioning Section *** //

.section-functioning {
    display: flex;
    flex-direction: column;
    &__title {
        font-size: 24px;
        font-weight: 700;
        margin-top: 48px;
        margin-left: 20px;
        margin-bottom: 26px;
    }    
    &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 25px;
            margin-bottom: 68px;
        }  
        &__container {
            width: 80%;
            position: relative;
        }     
            &__badge {
                position: absolute;
                top: 25px;
                left: -12px;
                z-index: 1;
            }  
            &__badge-txt {
                position: absolute;
                left: -5px;
                bottom: 26px;
                color: white;
                z-index: 2;
            } 
            &__button {           
                display: flex;
                justify-content: center;
                align-items: center;
                gap : 27px;
                position: relative;
                border-radius: 20px;
                box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
                background-color: var(--main-bg-color);
                height: 73px;
                width: 100%;
                border: none;
                font-size: 16px;
                font-weight: 500;
            }
                &__icon {
                    color:#7e7e7e;
                    &--purple {
                        color: var(--primary-color);
                    }
                }
}

//*** Restaurants Section *** //

.section-restaurants {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--main-bg-color);
    gap: 18px;
    &__title {

    }
    &__card {
        display: flex;
        flex-direction: column;
        width: 90%;
        align-items: center;
        border-radius: 15px;
        background-color: white;
        .card {
            &__new {
  
            }
            &__img {
                width: 100%;
                height: 231px;
                object-fit: cover;
                align-self: stretch;
                margin-bottom: 16px;
            }
            &__title {
                font-size: 18px;
                font-weight: 700;
                margin-bottom: 5px;
                padding-left: 13px;
            }
            &__location {
                font-size: 17px;
                font-weight: 300;
                margin-bottom: 12px;
                padding-left: 13px;
            }
            &__heart {
            }
        }
    }
}



//*** Footer *** //    

.footer {
    $self :&;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 66px;
    padding: 22px 25px;
    background-color: var(--bg-color-dark-grey);
    gap: 16px;
        &__logo {
            height: 27px;
            width: 25%;
            filter: invert(1);
        }    
        &__list {
            gap: 7px;
            display: flex;
            flex-direction: column;
           &-item {
                gap: 11px;
                display: flex;
                flex-direction: row;
                #{$self}__icon {
                    filter: invert(1);
                }    
                #{$self}__link {
                    color: white;
                }
            }
        } 
        
}