//*** Général*** //
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

:root {
    --main-bg-color: #F6F6F6;
    --primary-color: #9356DC;
    --bg-color-green: #99e2d0;
    --bg-color-blue: #89c8fa;
    --bg-color-dark-grey: #353535;
    --bg-color-grey-2 : #Eaeaea; 
    --bg-color--dark-blue: #003a68;
    --green-font: #008766;
}

.fa-solid {
    color: var(--bg-color-dark-grey);
}

a {
    text-decoration: none;
    color: black;
}

ul {
    padding-inline-start: 0em;
    margin-block-start: 0;
}

li {
    list-style: none;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
}

//*** Titles *** //

h1 {
    font-size: 24px;
    font-weight: 700;
}

//*** Header *** //

.header {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    .container__logo {
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        padding: 14px 89px 13px 89px ;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15)  ;
        .logo__header {
            display: flex;
            padding: 0 19px 0 16px;
            width: 162px;
            height: 44px;
        }
    }
    .container__location {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: var(--bg-color-grey-2);
        height: 50px;
        box-sizing: border-box;
        margin: 0;
        width: 100%;
        gap: 17px;
        .icon__location {
                     font-size: 16px;
        }
        .city__location {
            font-size: 16px;
            font-weight: 500;
            line-height: normal;
        }
    }
}

//*** Section Main Title and Exploration *** //

.section__exploration__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-bg-color);
    .main__title {
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        margin: 39px 42px 0px 58px;
    }    
    .main__subtitle {
        font-size: 18px;
        font-weight: 300;
        text-align: center;
        color: var(--bg-color-dark-grey);
        margin: 0px 34px 27px 26px
    }        
    .exploration__button {
            border-radius: 25px;
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
            background: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);
            margin: 0px 82px 52px 75px;
            width: 50%;
            height: 50px;
            border: none;
            color: white;
            font-size: 16px;
            font-weight: 500;
    }   
}





//*** Footer *** //    

.footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 22px 25px;
    background-color: var(--bg-color-dark-grey);
    gap: 16px;
        .logo__footer {
            height: 27px;
            width: 25%;
            filter: invert(1);
        }    
        .list__footer {
            gap: 7px;
            display: flex;
            flex-direction: column;
           .list__footer {
                gap: 11px;
                display: flex;
                flex-direction: row;
                .icon__footer {
                    filter: invert(1);
                }    
                .link__footer {
                        color: white;
                }
            }
        } 
        
}